/* Container for the scroll line */
.line-container {
    transform: translateY(-50%); /* Center the line vertically */
    width: 5px;
    height: 25vh;
  }
  
  /* The scroll line itself */
  .scroll-line {
    width: 100%;
    background: #35fad5; /* Gradient color */
    transition: height 0.1s ease-out; /* Smooth transition for height */
  }
  
  .full-screen {
    height: 50vh;
    width: 50vw;
  }
  